body{
    font-family: Poppins, serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
nav_links{
    
    display: flex;
    justify-content: center;
 
}
*/

a:visited{
    color:blue;
}

.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.pricing{
    display: flex;
}
.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 450px;
    width:450px;
    
}
.pricing{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* sizing*/




.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#logo{
    animation-name: logo;
    animation-duration: 5s;
}
@keyframes logo{
    from{width: 25px; opacity: 0; }
    to{width: 475px; opacity: 1;}
}

@media only screen and (min-width:900px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links{
        display:flex;
        flex-direction: row;
    }
    .pricing{
        display: flex;
        flex-direction: row;
    }
    .card{
        flex-basis: 250px;

    }
    a+header{
        position: fixed;
        width: 100%;
        top: 0;
    }
    main{
        margin-top: 100px;
    }
    
}

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation: none;
    }

}

@media print{
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: none;
    }
    
    /* a+header{
        display: flex;
        flex-direction: column;
    }  */
    .nav_links{ 
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        
        
    }
   
   

    .pricing{
        display: flex;
        flex-direction: row;
    }
    .card{
        align-self: end;
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }
    .gallery, #gallery{
        display: none; 
    }

    .card li:nth-child(2)::after{
        content: '👍';
        

    }
}





